.profile #profile {
  animation: img-spin infinite 10s linear;
  pointer-events: none;
}

@keyframes img-spin{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.profile #facebook {
  animation: fb-spin infinite 2s linear;
  pointer-events: none;
}

@keyframes fb-spin{
  from {transform: rotate(0deg);}
  to {transform: rotate(20deg);}
}


.profile #twitter {
  animation: tw-spin infinite 1s linear;
  pointer-events: none;
}

@keyframes tw-spin{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}


.profile #instagram {
  animation: ig-spin infinite 3s linear;
  pointer-events: none;
}

@keyframes ig-spin{
  from {transform: rotate(360deg);}
  to {transform: rotate(0deg);}
}



.main-menu {
	padding: 15px;
	position: sticky;
	top: 0;
	z-index: 1;
	width: 100%;
	left: 0;
	right: 0;
	background-color: white;
}
.main-menu a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px;
	color: green;
}

.main-menu a:hover{
	color: yellow;
	background-color: green;
	border-radius: 19%;
}

.bg img {
	width: 100%;
	border-radius: 1%;
}

.profile {
	text-align: center;
	margin-top: -9%; 
}

.profile img {
	border-radius: 50%;
}

.profile img:hover {
	width:110%;
	height:110%;
	border-radius:50%;
}

.profile p{
	text-align: center;
}

.profile h2 {
	text-transform: capitalize;
}

.profile strong {
	color: orange;
	text-transform: capitalize;
}

.about {
	background-image: url(../images/section-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 60px;
	margin-bottom: 40px;
}

.about h2 { 
	text-transform: uppercase; 
}

.about-content {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	width: 65%;
	margin: auto;
	color: white
}

.about-content span {
	color: orange;
}

.experience {
	width: 100%;
	background-color: lightgrey;
	margin-top: -40px;
	overflow: hidden;

}

.experience h2 {
	text-align: center;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
}

.experience .google {
  	margin-left: 7.5px;
	float: left;
}


.experience .alabian{
	float: right;
	margin-right: 7.5px;
}


.experience .google-img, .alabian-img {
	float: left;
	width: 20%;
}




.alabian, .google {
    width: 48%;
    background-color: white;
/*     padding: 9px; */
    border-radius: 15px;
    margin-top: -10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 12px;
	  overflow: hidden;
}



.alabian-content h3, .alabian p, .alabian ul, .google-content h3, .google-content p, .google-content ul {
	float: right;
	width: 80%;
}

.experience img {
width: 70%;
padding: 15px;
}

.download {
	text-align: center;
	background-image: url(../images/section-bg.jpg);
	background-size: 100%;
	padding: 50px;
}

.download p {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 26px;
    width: 60%;
    margin: auto;
    margin-bottom: -16px;
    color: white;
}


.download-content {
    margin: 5px;
    padding 50px: ;
    text-shadow: 0px 0px 8px #887676;

}

.download button {
    text-transform: capitalize;
    color: white;
    background-color: #17c71e;
    border-radius: 20px;
    font-size: 18px;
    border: 0px solid orange;
}

.portfolio {
	text-align: center;
	text-transform: capitalize;
}



.portfolio img {
	margin-left: 2px;
	width: 33%;
/* 	height: 350px;
	width:450px; */
  	border-radius:2%;
}

.portfolio img:hover {	
	height: 350px;
	width:430px;
  	border-radius:2%;
  	transition:0.8s;
}
}

.portfolio h2{
	text-transform: uppercase;
	text-align: center;
	margin-top: 70px;
}

.contact {
	text-align: center;
	overflow: hidden;
}

.contact .map{
	float: left;
	overflow: scroll;
	border-radius: 5%;

}

.contact .contact-form{
	float: right;
/* 	overflow: hidden; */
	overflow: initial;

}

.contact-form, .map{
	width: 49%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

.contact select, input[type="text"],[type="Email"], [list="browsers"]{
	    width: 88%;
    border: #abfd3e solid;
    height: 30px;
    border-radius: 5%;
}


.contact label{
	float: left;
	text-transform:;
	padding-left: 2px;
	padding-right: 5px;
}

.contact textarea {
	resize: none;
	width: 88%;
	height: 120px;
	border: solid greenyellow;
}

.expenses {
	text-align: center;
	background-image: url(../images/section-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 70px;
}

.expenses .expenses-content table{
	width: 80%;
	margin: auto;
	height: 350px;
	border: none;


}

.contact h2{
	text-align: center;
	text-transform: uppercase;
		padding: 50px;
}


.expenses h2{
	color: white;
	text-align: center;
	text-transform: uppercase;
}


tbody {
	color: white;
 display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    text-transform: Uppercase;

}

input[type="radio"]{
	margin: auto;
}

input [type="checkbox"]{
	padding: 5px
}













